/* Desktop (default) */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* evita scroll horizontal si algo se pasa de ancho */
}

.contenedor-general {
  display: flex;
  width: 100%;
  /* max-width: 1920px; */
  min-width: 250px;
  height: auto;
  flex-direction: column;
 
 align-items: stretch;
  
  justify-content: center;
  margin: 0 auto;

  
}

/* Tablet */
@media (max-width: 768px) {
  .contenedor-general {
   width: 100%;
    box-shadow: none; /* para que no se vea tan cargado */
  }
}

/* Celular */
@media (max-width: 480px) {
  .contenedor-general {
   width: 100%;
   min-width: 320px;
    align-items: stretch; /* ocupa todo el ancho */
  }
}

