/* ================= Reset general ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: auto;
  overflow-x: hidden; /* evita scroll horizontal */
  background-color: #333;
}

/* ================= Contenedor general ================= */
.contenedor-general {
  top: 70px;
  width: 100%;                  /* ocupa todo el ancho */
  display: flex;
  justify-content: center;       /* centra el contenedor-hijo horizontalmente */
 
  box-sizing: border-box;
}

/* ================= Contenedor hijo ================= */
.contenedor-hijo {
  width: 100%;
  /* max-width: 1920px; */             /* ancho máximo */
  margin: 0 auto;                /* centrado horizontal */
  display: flex;
  flex-direction: column;        /* elementos en columna */
  align-items: center;
  height: auto;
}

/* ================= Footer ================= */
footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #333;        /* color de fondo opcional */
  color: #fff;                   /* texto del footer */
}

/* ================= Contenedores de páginas ================= */
/* .inicio-contenedor,
.about-contenedor,
.footer-contenedor,
.proyectos-contenedor {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  
} */

/* ================= Contenedor de proyectos ================= */
.todos-los-proyectos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  width: 100%;
  padding: 40px 0;
}

