 .proyectos-contenedor {
  max-width: 1920px; 
    display: flex;
width: 1920px;
height: 100vh;
flex-direction: column;
align-items: center;
gap: 24px;
align-self: stretch;

  /* max-width: 1920px;

  width: 1920px;       
  height: 100vh; */
   background: var(--Foundation-Secundario-secundario-800, #4E5A5E);
}

.todos-los-proyectos {
  display: flex;
  flex-wrap: wrap;      /* permite que se acomoden */
  justify-content: center;
  gap: 24px;
  max-width: 1920px;
  width: 100%;          /* 👈 ancho dinámico */
  padding: 40px 0;
}

.proyectos-organizacion {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* Tablet */
@media (max-width: 768px) {
  .proyectos-contenedor{
    width: 100%;
    max-width: 100%;min-width: 480px;
    height:auto;

  }
  .todos-los-proyectos {
    justify-content: center;
    gap: 16px;
  }
}

/* Celular */
@media (max-width: 480px) {
  .proyectos-contenedor{
    width: 100%;
    min-width: 250px;

  }
  .todos-los-proyectos {
    flex-direction: column; /* 👈 cards en columna */
    align-items: center;
  }
}
